@import "../common/commonStyle";

h1{
	text-align: center;
}

body{
	.routerContainer{
		height:100%;

		.window{
			width: 100%;
		    bottom: 0;
		    z-index: -1;
			background: url('../assets/images/hua.jpg');
			height: 100%;
			position: fixed;
			background-repeat: no-repeat;

			.background{
				filter: blur(10px);
				background: url('../assets/images/hua.jpg');
				height: 100%;
				position: absolute;
				max-width: 1000px;
				width: 100%;
				left: calc((100vw - 1000px) / 2);
				background-position: calc((1000px - 100vw) / 2) 0;
			}
		}

		.login-form{
			width: 550px;
			margin: 0 auto;
			max-width: 90%;
			padding-top: 30px; 

			.ant-input{
				padding:0 20px;
				font-size: 16px;
				height: 40px;
			}
		}

		.register-form{
			width: 550px;
			margin: 0 auto;
			max-width: 90%;
			padding-top: 30px;

			.ant-input{
				padding:0 20px;
				font-size: 16px;
				height: 40px;
			}
		}

		.layout{
			max-width: 1000px;
			width: 100%;
			height: 100%;
			margin: auto;
			background: hsla(0,0%,95%,0);
			position: relative;

			.ant-layout-header{
				h1{
					text-align: center;
				}

				i{
					font-weight: bold;
					position: absolute;
					font-size: 26px;
					top: 21px;
					left: 21px;
					cursor: pointer;
					&:hover{
						opacity: 0.5;
					}
				}
			}

			.body{
				overflow: auto;
				background: hsla(0,0%,95%,.2);

				.bodySlider{
					background: hsla(0,0%,95%,.0);
					border-right: 1px solid silver; 
				}

				.bodyContent{
					flex: 1;
					display: flex;
					flex-direction: column;
					position: relative;
					max-height: 100%;

					.bodyContentMessages{
						width: 100%;
						padding: 0 10px;
						display: flex;
						flex: 1;
						flex-direction: column;
						justify-content: stretch;
						height: 100px;
						overflow-y: scroll;
						background: hsla(0,0%,95%,0);

						.messagesHistory,.messagesNews {
							// width: 95%;

							.bodyContentMessagesList{
								margin-bottom: 10px;

								.nameContainer{
									font-weight: bolder;
									font-size: 14px;
									color: #202020;
								}

								.timeContainer{
									font-size: 12px;
									margin-left: 5px;
									margin-bottom: 5px;
								}

								.messageContainer{
									padding: 5px 10px;
									margin: 0;
									box-shadow: 3px 3px 10px #aaa;
									word-break: break-all;
									border-radius: 10px;
									display: inline-block;
									background-color: #f1f1f1;
									font-size: 16px;
									max-width: 100%;

									.imageContainer{
										max-width: 100%;
										border-radius: 2%;
									}
								}
							}
						}
					}

					.bodyContentFeature{
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						width: 100%;
						border-top: 1px solid silver;
						z-index: 1;
						min-height: 20px;
						position: relative;

						.emojiContainer{
							position: absolute;
							bottom: 35px;
							width: 412px;
							border-radius: 2px;
							box-shadow: 0 0 10px #999;
							height: auto;
							background-color: rgba(255, 255, 255, 0.1);
							font-size: 30px;
							animation-duration: 0.4s;

							&.display {
								display: block;
								animation-name: slidein;
							}

							&.none {
								display: none;
								animation-name: slideout;
							}

							.emoji{
								cursor: pointer;
								user-select: none
							}
						}

						@keyframes slidein {
							from {
								transform:scale(0.4);
								opacity: 0.4;
							}

							to {
								opacity: 1;
								transform:scale(1);
							}
						}

						@keyframes slideout {
							from {
								transform:scale(1);
								opacity: 1;
							}

							to {
								transform:scale(0.4);
								opacity: 0.4;
							}
						}

						.emojiClick{
							cursor:pointer;
							font-size: 24px;
							color: @grey9;
							font-weight: bolder;
							margin: 0 10px;
							&:hover{
								opacity: 0.5;
							}
						}

						.picture{
							cursor: pointer;
							font-size: 32px;
							color: @grey9;
							margin: 0 10px;
							&:hover{
								opacity: 0.5;
							}
						}

						.imgInputFile{
							display: none;
						}

						.codingClick {
							cursor:pointer;
							font-size: 24px;
							color: @grey9;
							font-weight: bolder;
							margin: 0 10px; 
							user-select: none;
							&:hover{
								opacity: 0.5;
							}
						}
					}

					.bodyContentMessagesInputArea {
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: flex-start;
						width: 100%;
						z-index: 1;
						min-height: 72px;

						.bodyContentMessagesInput{
							width: 450px;
							max-width: 90%;
						    height: 32px;
						    border-radius: 16px;
						    border: 1px solid #727272;
						    padding: 0 15px;
						    margin-bottom: 5px;
						    margin-top: 5px;
						    font-size: 16px;
						    transition: margin-top .3s;
						}
					}
				}
			}
		}
	}
}


/* 设置滚动条的样式 */
::-webkit-scrollbar {
	width:8px;
	&:end {
	    display: none;
	}
}
/* 滚动槽 */
::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 4px;
    &:end {
        display: none;
    }
}
::-webkit-scrollbar-thumb:window-inactive {
	background-color: rgba(0, 0, 0, 0.5);
}
